body{
  
  font-family: "Lucida Grande", sans-serif;
  background-color: #000000;
  color: #ffffff;
 
}
h1{
    background-color: #000000;
    text-align: center;
    font-size: 64px;


  }

h2{
    font-size: 30px;
    text-shadow:5px 5px 2px #808080;
      
  }

p{
    padding-top: 20px;
    font-size: 24px;

  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    object-fit: cover;
    max-width: 100%;
    background-color: #000000;
  }
  
  
#intro{
  padding: 25px 25px 25px 25px;
  min-height: 150px;
  background-color: #000000;
}

#red{
  padding: 25px 25px 25px 25px;
  min-height: 150px;
  background-color: #ff0000;
  text-align: right;
}

#blue{
  padding: 25px 25px 25px 25px;
  min-height: 150px;
  background-color: #0000ff;
  text-align: left;
}

#yellow{

  background-color: #ffff00;
  padding: 25px 25px 25px 25px;
  min-height: 150px;
  text-align: right;
}

#yellow h2{
  color: #000000;
  font-size: 30px;
  text-shadow:5px 5px 2px #c7e2c7;
 }

 #yellow p{
   color: #000000;
 }

#green{
  background-color: #008000;
  padding: 25px 25px 25px 25px;
  min-height: 150px;
  text-align: left;
}

footer p{
  text-align: right;
  padding: 0px 10px 10px 0px; 
}

